<!doctype html>
<html lang="en">
<head>
    <%- include('includes/header') %>
</head>
<body>
<div class="container">
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Create Account</h4>
            <p class="divider-text">
                <span class="bg-light">OR</span>
            </p>
            <% if (validationError.status) { %>
                <div role="alert">
                    <p class="alert alert-<%= validationError.status == 200 ? 'success' : 'danger' %>">
                      <%= validationError.message %>
                    </p>
                </div>
            <% } %>

            <form method="POST" action="/register">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input name="first_name"
                        id="first_name"
                        class="form-control <%= typeof validationError.errors.first_name !='undefined' ? 'is-invalid' : '' %>" 
                        placeholder="First name"
                        type="text" 
                        value="<%= validationError.formData.first_name %>" />
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input name="last_name"
                        id="last_name"
                        class="form-control <%= typeof validationError.errors.last_name !='undefined' ? 'is-invalid' : '' %>" 
                        placeholder="Last name" 
                        type="text" 
                        value="<%= validationError.formData.last_name %>" />
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> 
                            <i class="fa fa-envelope"></i> 
                        </span>
                    </div>
                    <input name="email"
                        id="email" 
                        class="form-control <%= typeof validationError.errors.email !='undefined' ? 'is-invalid' : '' %>" 
                        placeholder="Email address" 
                        type="email"
                        value="<%= validationError.formData.email %>" />
                </div> 
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> 
                            <i class="fa fa-phone"></i> 
                        </span>
                    </div>
                    <select class="custom-select" style="max-width: 120px;">
                        <option selected="">+971</option>
                        <option value="1">+972</option>
                        <option value="2">+198</option>
                        <option value="3">+701</option>
                    </select>
                    <input name="mobile"
                        id="mobile" 
                        class="form-control <%= typeof validationError.errors.mobile !='undefined' ? 'is-invalid' : '' %>" 
                        placeholder="Phone number" 
                        type="text" 
                        value="<%= validationError.formData.mobile %>" />
                </div> 
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> 
                            <i class="fa fa-lock"></i> 
                        </span>
                    </div>
                    <input name="password"
                        id="password" 
                        class="form-control <%= typeof validationError.errors.password !='undefined' ? 'is-invalid' : '' %>" 
                        placeholder="Create password"
                        type="password"  />
                </div> 
                <div class="form-group">
                    <button type="submit" 
                        class="btn btn-primary btn-block"> Create Account </button>
                </div>
                <p class="text-center">Have an account? <a href="/login">Log In</a> </p>
            </form>
        </article>
    </div>
</div>
<!----Footer Section Start-->
<%- include('includes/footer') %>
<!----Footer Section End-->
</body>
</html>